html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.container{
  text-align: center;
}

button {
  border: solid green 1px;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  background: rgb(113, 167, 236);
}

button:hover {
  background: rgb(68, 66, 194);
}

p {
  font-size: 20px;
}

.board {
  display: inline-block;
  padding: 10px;
}

.square {
  width: 30px;
  height: 30px;
  border: solid black 1px;
  float: left;
}

.first {
  clear: left;
}

.gameText, .turns {
  font-size: 25px;
}

#player {
  cursor: pointer;
}